<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>
                    I'm is a seasoned tech entrepreneur from Sedona, AZ.
                    I'm now living in San Diego, CA and have been a part of the local startup ecosystem since 2008.
                    I specialize in leading and creating the technology for startups and enterprises.
                </p>
            </div>
            <div class="col-lg-4">
                <p>
                    I understand everything it takes to run a world-class internet company, as I've done it time and time again in my career.
                    I can help with company and/or team culture, hiring, product, coding, UX, databases, and architecture.
                </p>
            </div>
        </div>
    </div>
</section>
